<div class="container">

    <div class="row">

        <ng-container *ngFor="let data of data">
            <div class="col-4">
                <img src="{{data.image}}" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-8">
                <div class="card">

                    <div class="card-header">
                        Datos Del Pais
                    </div>



                    <div class="card-body">
                        <h5 class="card-title">PAIS:</h5>
                        <p class="card-text">{{data.country}}</p>
                        <h5 class="card-title">CODIGO:</h5>
                        <p class="card-text">{{data.fifa_code}}</p>
                        <ng-container *ngIf="data.status">
                            <a href="{{data.image}}" target="_blank" class="btn btn-primary">Abrir
              imagen</a>
                        </ng-container>


                    </div>
                </div>

            </div>
        </ng-container>
    </div>


</div>