<div class="container">

    <div class="row">
        <div class="col-4">
            <img src="http://flags.fmcdn.net/data/flags/w1160/co.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Datos Del Pais
                </div>
                <div class="card-body">
                    <h5 class="card-title">PAIS:</h5>
                    <p class="card-text">Colombia</p>
                    <h5 class="card-title">CODIGO:</h5>
                    <p class="card-text">COL</p>
                    <a href="http://flags.fmcdn.net/data/flags/w1160/co.png" target="_blank" class="btn btn-primary">Abrir imagen</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <img src="http://flags.fmcdn.net/data/flags/w1160/br.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    Datos Del Pais
                </div>
                <div class="card-body">
                    <h5 class="card-title">PAIS:</h5>
                    <p class="card-text">Brasil</p>
                    <h5 class="card-title">CODIGO:</h5>
                    <p class="card-text">BRA</p>
                    <a href="http://flags.fmcdn.net/data/flags/w1160/br.png" target="_blank" class="btn btn-primary">Abrir imagen</a>
                </div>
            </div>
        </div>
    </div>

</div>