<div class="container home-container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">Hola, clase!</h1>
                <p class="lead">Esta es la prueba práctica para el <b>PARCIAL</b> del segundo corte. La prueba consiste en desarrollar la interacción de cada componente de la aplicación, pero teniendo en cuenta que toda la información debe salir de <b>SERVICIOS DE INTERNET</b>.</p>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>